# Dependências do Node (O que você pediu)
node_modules/

# Hardhat - Arquivos de compilação e cache (Gerados no deploy)
artifacts/
cache/

# Arquivos de ambiente e segurança (Chaves privadas nunca devem subir!)
.env

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*